<template>
  <div class="editor-container">
    <q-input
      v-model="title"
      @update:model-value="onTitleChange"
      label="Title"
      outlined
      stack-label
      class="custom-input"
      name="title"
      :rules="[(val) => !!val?.trim() || 'Title is required']"
    />
    <q-input
      v-model="director"
      @update:model-value="onDirectorChange"
      label="Director"
      outlined
      stack-label
      class="custom-input"
      name="director"
      :rules="[(val) => !!val?.trim() || 'Director is required']"
    />
    <q-input
      v-model="summary"
      @update:model-value="onSummaryChange"
      label="Summary"
      outlined
      stack-label
      type="textarea"
      class="custom-input"
      name="summary"
      maxlength="100"
      :rules="[
        (val) => !!val?.trim() || 'Summary is required',
        (val) =>
          val?.length > 100 ? 'Summary is too long, max 100 characters' : true,
      ]"
    />
    <div class="genre-selectors">
      <q-chip
        v-bind:color="genres.includes(genre) ? 'teal-6' : undefined"
        v-bind:text-color="genres.includes(genre) ? 'white' : undefined"
        v-for="genre in availableGenreList"
        :key="genre"
        class="genre-item"
        clickable
        @click="
          () => {
            toggleGenre(genre);
          }
        "
        v-bind:icon="genres.includes(genre) ? 'check' : undefined"
        >{{ genre }}</q-chip
      >
    </div>
    <span v-if="!genres.length" class="error-genre-selector"
      >Choose at least 1 genre</span
    >
    <q-input
      class="hidden"
      v-bind:model-value="genres.join('___')"
      name="genres"
      :rules="[(val) => !!val?.trim() || 'Summary is required']"
    />
  </div>
</template>

<script lang="ts">
import { useMoviesStore } from 'src/stores/movies-store';
import { ref } from 'vue';
import { defineComponent } from 'vue';
import { useRoute } from 'vue-router';

const availableGenreList = [
  'Action',
  'Adventure',
  'Comedy',
  'Drama',
  'Fantasy',
  'Horror',
  'Mystery',
  'Thriller',
  'Western',
  'Sci-Fi',
  'Romance',
  'Animation',
  'Crime',
  'Documentary',
  'Family',
  'History',
  'Music',
  'War',
  'Sport',
  'Biography',
  'Musical',
  'Short',
  'Film-Noir',
];

export default defineComponent({
  name: 'EditorMoviePage',
  setup() {
    const route = useRoute();
    const itemID = route.params?.id ? Number(route.params.id) : null;
    const movieData = useMoviesStore().data.find(
      (movie) => movie.id === itemID
    );
    const [title, director, summary, genres] = [
      ref(movieData?.title || ''),
      ref(movieData?.director || ''),
      ref(movieData?.summary || ''),
      ref(movieData?.genres || []),
    ];

    return {
      title,
      director,
      summary,
      genres,
      availableGenreList,
      onTitleChange(v: any) {
        title.value = v;
      },
      onDirectorChange(v: any) {
        director.value = v;
      },
      onSummaryChange(v: any) {
        summary.value = v;
      },
      onGenresChange(v: any) {
        genres.value = v;
      },
      toggleGenre(v: string) {
        if (genres.value.includes(v)) {
          genres.value.splice(genres.value.indexOf(v), 1);
        } else {
          genres.value.push(v);
        }
      },
    };
  },
});
</script>
