<template>
  <q-page class="page-content">
    <div class="searchbar">
      <q-input
        clearable
        placeholder="Search by title..."
        v-model="searchInput"
        @update:modelValue="onSearchInputChange"
        debounce="200"
      />
    </div>
    <div class="search-results row">
      <div
        class="search-data-content col-12"
        v-for="movie in getSearchResult()"
        :key="movie.id"
      >
        <movie-info-detail-component
          :title="movie.title"
          :director="movie.director"
          :summary="movie.summary"
          :genres="movie.genres"
          :item_id="movie.id"
        />
      </div>
    </div>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="accent" href="/movie/register" />
    </q-page-sticky>
  </q-page>
</template>

<script lang="ts">
import MovieInfoDetailComponent from 'components/MovieInfoDetailComponent.vue';
import { defineComponent, ref } from 'vue';
import { useMoviesStore } from 'src/stores/movies-store';

export default defineComponent({
  name: 'IndexPage',
  components: { MovieInfoDetailComponent },
  setup() {
    const movies = useMoviesStore();
    const searchInput = ref('');
    const searchResult = ref(movies.data || []);

    return {
      searchInput,
      getSearchResult() {
        return searchResult.value.sort((a, b) => b.id - a.id);
      },
      onSearchInputChange(v: any) {
        searchInput.value = v;
        searchResult.value = movies.search(v);
      },
    };
  },
});
</script>
