<template>
	<q-btn label="Delete" type="button" color="red-8" @click="showModal" />
	<q-dialog v-model="visible" persistent>
		<q-card>
			<q-card-section class="row items-center">
				<q-avatar icon="warning" color="red-10" text-color="white" />
				<span class="q-ml-sm">Are you sure to delete this item?</span>
			</q-card-section>

			<q-card-actions align="right">
				<q-btn flat label="Cancel" color="primary" v-close-popup />
				<q-btn flat label="Yes, Delete" color="primary" v-close-popup @click="onConfirm" />
			</q-card-actions>
		</q-card>
	</q-dialog>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
	name: 'DeleteDialogComponent',
	props: {
		confirmed: {
			type: Function,
			required: true,
		},
	},
	setup(props) {
		const visible = ref(false);
		return {
			visible,
			showModal() {
				visible.value = true;
			},
			onConfirm() {
				props.confirmed();
			},
		};
	},
});
</script>
