<template>
  <div>
    <q-card class="movie-card-info" @click="openDetail">
      <q-card-section>
        <div class="h-6 movie-title">{{ title }}</div>
        <span class="movie-director">{{ director }}</span>
      </q-card-section>
      <q-card-section>
        <p>{{ summary }}</p>
      </q-card-section>
      <q-card-section>
        <div class="movie-genres">
          <span class="movie-genre">
            {{ genres.join(' / ') }}
          </span>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'MovieInfoDetailComponent',
  props: {
    item_id: {
      type: Number,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    director: {
      type: String,
      // required: true,
    },
    summary: {
      type: String,
      // required: true,
    },
    genres: {
      type: Array as PropType<string[]>,
      default: () => [],
    },
  },
  setup(props) {
    const router = useRouter();
    return {
      openDetail() {
        router.push('/movie/edit/' + props.item_id);
      },
    };
  },
});
</script>
