// app global css in SCSS form
.page-content {
  padding: 20px;
}

.search-results {
  margin-top: 1rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.movie-card-info {
  &:hover {
    border: 2px solid skyblue;
    cursor: pointer;
  }
  & .movie-title {
    font-weight: bold;
    font-size: 1rem;
  }
  & .movie-director {
    font-size: 0.8rem;
    color: gray;
    font-weight: 500;
  }
  & .movie-genres {
    display: flex;
    flex-direction: row-reverse;
  }
}

.editor-container {
  margin-top: 2rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  & .q-field--float .q-field__label {
    transform: translateY(-120%) translateX(-5px) scale(0.75);
    background: #fff;
    right: inherit;
    padding-inline: 10px;
    z-index: 10;
    -webkit-transform: translateY(-120%) translateX(-5px) scale(0.75);
    -moz-transform: translateY(-120%) translateX(-5px) scale(0.75);
    -ms-transform: translateY(-120%) translateX(-5px) scale(0.75);
    -o-transform: translateY(-120%) translateX(-5px) scale(0.75);
  }
  & .q-field__native {
    padding: 0;
  }
  & .genre-selectors {
    & .genre-item {
      cursor: pointer;
      // &:hover {
      //   opacity: 0.7;
      // }
    }
  }
  & .error-genre-selector {
    color: red;
    font-weight: 500;
  }
}

.form-actions {
  display: flex;
  gap: 10px;
  & .submit-btn {
    padding-inline: 2rem;
  }
}
