<template>
  <q-layout view="lHh Lpr lFf">
    <q-form @submit="onSubmit">
      <q-header elevated>
        <q-toolbar>
          <q-btn type="button" flat round @click="goBack" icon="arrow_back" />
          <q-toolbar-title>{{
            isRegister ? 'Register New Movie' : 'Edit Movie'
          }}</q-toolbar-title>

          <div class="form-actions">
            <delete-dialog-component v-if="!isRegister" :confirmed="onDelete" />
            <q-btn
              label="Save"
              type="submit"
              color="teal-6"
              class="submit-btn"
            />
          </div>
        </q-toolbar>
      </q-header>

      <q-page-container>
        <router-view />
      </q-page-container>
    </q-form>
  </q-layout>
</template>

<script lang="ts">
import { useMoviesStore } from 'src/stores/movies-store';
import { defineComponent } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import DeleteDialogComponent from 'src/components/DeleteDialogComponent.vue';

export default defineComponent({
  name: 'EditorLayout',
  components: { DeleteDialogComponent },
  setup() {
    const route = useRoute();
    const router = useRouter();
    const movies = useMoviesStore();
    const isRegister = route.path.startsWith('/movie/register');
    return {
      isRegister,
      movie_id: Number(route.params?.id),
      onSubmit(e: Event | SubmitEvent) {
        e.preventDefault();
        const formData = new FormData(e.target as any);
        const title = formData.get('title') as string;
        const director = formData.get('director') as string;
        const summary = formData.get('summary') as string;
        const genres = formData.get('genres')?.toString().split('___') ?? [];

        const payload = { title, director, summary, genres };
        if (route.params?.id) {
          movies.update(Number(route.params.id), payload);
        } else {
          movies.register(payload);
        }
        router.replace('/');
      },
      goBack() {
        router.back();
      },
      onDelete() {
        movies.remove(Number(route.params.id));
        router.replace('/');
      },
    };
  },
});
</script>
